apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a
  namespace: micro-prod
spec:
  template:
    spec:
      containers:
        - name: service-a
          # The image name is set dynamically by CI using Kustomize edit
          image: DYNAMICALLY_SET_IN_CI
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
